
.colaborated-partners {
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }
  
  .colaborated-partners h2 {
    font-size: 24px;
  }
  
  .partner-item {
    font-size: 16px;
    margin: 5px 10px;
  }

  .partners {
    /* flex: 1; */
    max-height: 50%;
    overflow-y: auto; /* Add a vertical scrollbar when needed */
  }