  .unverified-user {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align contents to the left */
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-right: 10px; /* Add spacing between name and email */
  }
  
  .user-email {
    font-size: 16px;
    color: #555;
  }
  
  .verify-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Add spacing between email and button */
  }

  .delete-button {
    padding: 5px 10px;
    background-color: #ff0000cb;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Add spacing between email and button */
  }
  
  .user-roles {
    font-size: 16px;
    color: #777;
    margin-top: 10px; /* Add spacing below user-roles */
  }